
body {
  background-color: #d0e4fe;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: orange;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}
.form-control{
	width:50%;
	margin:auto;
}
#profilePic{
	height:5%;
}
#post{
	
	display: block;
	margin:auto;
}
#doge-image img {
  height: 140px;
  margin-top: 20px;
}
